.media(id=post._id)
  if post.file.name
    a.pull-left(href=(prefix + '/uploads/' + post.file.name))
      img.media-object(src=(prefix + '/thumbs/' + post.file.name))
  .media-body
    ul.inline
      if post.subject
        li
          span.label.label-success= post.subject
      li
        span.label.label-important= post.name
      li
        span.label.label-info= post.date
      li
        a(name=post._id, href=(prefix + '/' + board._id + '/' + ((post.op) ? post.op + '#' : '') + post._id))= post._id
      if post.file.name
        li.muted= Number(post.file.size / 1024).toFixed(2) + ' KB'
        li.muted= post.file.width + 'x' + post.file.height
        li.muted= post.file.orig
      //if post.password
        li
          button.btn.btn-danger.btn-mini(type='button', data-id=post._id)
            i.icon-trash
    if post.comment.toString()
      | !{marked(post.comment.toString())}
    else
      p &nbsp;

    if post.replycount
      span.badge.badge-warning= post.replycount
      | #{' '}
      a(href=(prefix + '/' + board._id + '/' + ((post.op) ? post.op + '#' : '') + post._id))= 'Repl' + ((post.replycount > 1) ? 'ies' : 'y')
    if post.replies && post.replies.length
      each reply in post.replies
        include reply
