doctype 5
head
  meta(charset='utf-8')
  title= (((pagetitle != '') ? pagetitle  + ' - ' : '') + title)
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='')
  meta(name='author', content='William Turner <willtur.will@gmail.com>')

  // Styles
  block stylesheets
    link(href='#{prefix}/css/bootstrap.min.css', rel='stylesheet')
    link(href='#{prefix}/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='#{prefix}/css/font-awesome.min.css', rel='stylesheet')
    //if IE 7
      link(href='#{prefix}/css/font-awesome-ie7.min.css', rel='stylesheet')
    link(href='#{prefix}/css/highlight.css', rel='stylesheet')
    link(href='#{prefix}/css/style.css', rel='stylesheet')

  // HTML5 shim, for IE6-8 support of HTML5 elements
  //if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

  // Fav and touch icons
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='#{prefix}/ico/apple-touch-icon-144-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='#{prefix}/ico/apple-touch-icon-114-precomposed.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='#{prefix}/ico/apple-touch-icon-72-precomposed.png')
  link(rel='apple-touch-icon-precomposed', href='#{prefix}/ico/apple-touch-icon-57-precomposed.png')
  link(rel='shortcut icon', href='#{prefix}/ico/favicon.png')
body
  #wrap
    .container-fluid
      block content
        .row-fluid
          .span12
            .page-header
              h1
                a(href=(prefix + '/'))
                  img(src='#{prefix}/img/rYouiki.png', alt=title)
        if success.length
          .row-fluid
            .span12
              .alert.alert-block.alert-success
                ul
                  each msg in success
                    li= msg.message || msg
        if error.length
          .row-fluid
            .span12
              .alert.alert-block.alert-error
                ul
                  each msg in error
                    li= msg.message || msg
    #push
  #footer
    .container-fluid
      .row-fluid
        .span12
          p.muted.text-center= 'Copyright &copy; ' + new Date().getFullYear() + ' William Turner.'

  a(href='https://github.com/wwwiiilll/Ryouiki', target='_blank')
    img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', alt='Fork me on GitHub')

  // JavaScript
  // Placed at the end of the document so the pages load faster
  block scripts
    script(src='#{prefix}/js/jquery.min.js')
    script(src='#{prefix}/js/bootstrap.min.js')
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-3944936-4', 'willisite.com'); ga('send', 'pageview');
    script
      $("body").on('click', "img", function (e) {
        var link = $(this).parent();
        if (/\/thumbs\//.test($(this).attr('src'))) {
          $(link).removeClass('pull-left');
          $(this).removeClass('media-object').attr('src', $(this).attr('src').replace('/thumbs/', '/uploads/'));
          e.preventDefault();
          return false;
        } else if (/\/uploads\//.test($(this).attr('src'))) {
          $(link).addClass('pull-left');
          $(this).addClass('media-object').attr('src', $(this).attr('src').replace('/uploads/', '/thumbs/'));
          e.preventDefault();
          return false;
        }
      });

      $("body").on('submit', "form", function (e) {
        $(this).find("button[type=submit]").each(function (i, el) {
          $(el).attr('disabled', 'disabled').html($(el).html() + "ing...");
          $(el).find("i").attr('class', 'icon-spinner icon-spin');
        });
      });

      $("body").on('click', ".btn-danger", function (e) {

      });
